<!-- This will replace the body of main -->


<div class="row align-center mb-5">
    <div class="col-md-6">
        <h2>Homepage</h2>
    </div>
</div>


<!--    
    // Any Posts Made
        // Just the title is shown in the post
    // + New Post at the bottom

    // The + New Post at the bottom goes to a handlebar page to create the post
            // THIS WILL RENDER 'NEWPOST'

    // If you click on the title of the article, it goes to a handlebar page to edit the post
            // THIS WILL RENDER 'EDITPOST'
            
            -->